<div class="container">
  <table class="table table-striped table-hover">
    <caption>List of followed channels</caption>
    <thead class="thead-light">
      <tr>
        <th scope="col">Twitch channel</th>
        <th scope="col">Twitter handle</th>
        <th scope="col">Upcoming stream (local time)</th>
        <th scope="col">Countdown to next stream</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let channel of followedChannels">
        <td>
          <a href="{{ channel.url }}" class="channel-link" target="_blank">{{ channel.name }}</a>
        </td>
        <td>
          <a href="{{ getTwitterUrl(channel.name) }}" class="handle-link" target="_blank">{{ channel.name }}</a>
        </td>
        <td>{{ channel.upcomingStreamDate }}</td>
        <td>{{ channel.countdown }} </td>
      </tr>
    </tbody>
  </table>
</div>